<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1 th:text="${titulo}"></h1>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Email</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="cliente: ${lista}">
			<td th:text="${cliente.id}"></td>
			<td th:text="${cliente.nombre}"></td>
			<td th:text="${cliente.apellidos}"></td>
			<td th:text="${cliente.email}"></td>
			<td th:text="${cliente.createAt}"></td>
		</tr>
		</tbody>
		
	</table>

</body>
</html>