<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout2}">
<body>
   <div layout:fragment="content">
      <div class="card">
         <div class="card-header bg-light text-primary font-weight-bold" th:text="${titulo}"></div>
         <div class="card-body">
            <h4 class="card-title">
               <a class="btn btn-sm btn-success" th:href="@{/form}" sec:authorize="hasRole('ROLE_ADMIN')">Agregar</a>
            </h4>
            <table class="table table-striped table-bordered table-hover">
               <thead class="thead-dark">
                  <tr>
                     <th sec:authorize="hasRole('ROLE_USERS')">Id</th>
                     <th>Nombre</th>
                     <th>Apellidos</th>
                     <th>Email</th>
                     <th>Fecha</th>
                     <th sec:authorize="hasRole('ROLE_ADMIN')">Accion</th>
                  </tr>
               </thead>
               <tbody>
                  <tr th:each="cliente: ${lista}">
                     <td sec:authorize="hasRole('ROLE_USERS')"><a class="btn btn-primary btn-sm" th:href="@{/ver/} + ${cliente.id}"
                        th:text="${cliente.id}"></a></td>
                     <td th:text="${cliente.nombre}"></td>
                     <td th:text="${cliente.apellidos}"></td>
                     <td th:text="${cliente.email}"></td>
                     <td th:text="${cliente.createAt}"></td>
                     <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-sm" th:href="@{/form/}+${cliente.id}"
                        th:text="editar"></a> <a class="btn btn-danger btn-sm" th:href="@{/eliminar/}+${cliente.id}" th:text="eliminar"
                        onclick="return confirm('Estas seguro de eliminar registro?');"></a> <a class="btn btn-info btn-sm"
                        th:href="@{'/factura/form/' + ${cliente.id}}" th:text="Crear"></a></td>
                  </tr>
               </tbody>
            </table>
            <nav th:replace="layout/paginator-nav :: paginator"></nav>
         </div>
      </div>
   </div>
</body>
</html>
